<h3><i class = "fas fa-book-reader"></i> Login Page</h3>
<div class="section">
    <div class="lead">
        Create Public and Private Section 
    </div>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red-darken-1">
        <i class="fab fa-google left">
            Login With Google
        </i>
    </a>
</div>